*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 15px;
}
.login-container {
    background: #fff;
    padding: 35px 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 380px;
}
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
}
.form-group label{
    font-size: 15px;
    color: gray;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    margin: 10px 0px;
    outline: none;
}
.form-group input:focus{
    border: 1px solid rgb(22, 144, 232);
    box-shadow: 1px 1px 5px rgb(150, 197, 230);
}
.button-group{
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.button-group button{
    padding: 10px 55px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(150, 197, 230);
    border: none;
}
.button-group a{
    padding: 10px 55px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: small;
    color: black;
    background-color: rgb(150, 197, 230);
}